# ---> macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ---> Clover UEFI

# Ignoring the documentation
doc/

# Ignoring drivers that we do not use
drivers/BIOS
drivers/off

# Ignoring kexts that we do not use
kexts/off

# Ignoring folders that we do not use
OEM/
ROM/

# Ignoring themes that we do not use except the one that we are currently using
themes/*
!themes/Clovy